body {
	background-color: #ebebe0;
	margin: 0;
}

/* til menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
    background-color: white;
}

.hedder-bg {
	background-color: white;
}

li {float: left;}

li a, .dropbtn {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #D3D3D3;
	color: #000;
}

a.active {
	background-color: cadetblue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}


/* billeder */
img {
    height: 200px; 
    width: 250px;;
}


/* til nederste menu */
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}

div.color {
	background-color: white;
}


/* så de er adskelt  */
table.rammen {
    border-collapse:separate;
	border-spacing:2em;
}


/* rammen udenom tingene */
table.rammen td {
	background-color: cadetblue;
	border-style: solid;
  	border-width: 5px;
	border-color: cadetblue;
	border-radius: 5px;
}